<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="true">
    <ion-row>
      <ion-col style="text-align:center !important;">
        <ion-button style="width:100px;" expand="block" routerLink="/menu" routerDirection="root">Voltar</ion-button>
        <h1>Pintura</h1>
      </ion-col>
    </ion-row>
    <form (ngSubmit)="calculaPintura()">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Lado X</ion-label>
              <ion-input type="text" [(ngModel)]="ladoX" name="ladoX"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Lado Y</ion-label>
              <ion-input type="text" [(ngModel)]="ladoY" name="ladoY"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Tipos de Tinta</ion-label>
              <ion-select type="select" [(ngModel)]="pisosTipo" name="pisosTipo">
                <ion-select-option id="ta" style="font: 15px Arial, sans-serif;">Pintura com tinta acrílica</ion-select-option>
                <ion-select-option id="tlapx" style="font: 15px Arial, sans-serif;">Pintura com tinta látex acrílica em parede externa</ion-select-option>
                <ion-select-option id="pisc" style="font: 15px Arial, sans-serif;">Pintura impermeabilizante sobre superfície de concreto</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align:center !important;">
          <ion-button type="submit" color="success">
            Calcular
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Insumos</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Quantidade de Litros:</ion-label>
              <ion-label position="stacked">0</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tempo Pintor:</ion-label>
              <ion-label position="stacked">0</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tempo Ajudante Pintor:</ion-label>
              <ion-label position="stacked">0</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>
  </ion-content>
</ion-app>