<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="true">
    <ion-row>
      <ion-col style="text-align:center !important;">
        <ion-button style="width:100px;" expand="block" routerLink="/menu" routerDirection="root">Voltar</ion-button>
        <h1>Pisos</h1>
      </ion-col>
    </ion-row>
    <form (ngSubmit)="calculaPiso()">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Lado X</ion-label>
              <ion-input type="text" [(ngModel)]="ladoX" name="ladoX"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Lado Y</ion-label>
              <ion-input type="text" [(ngModel)]="ladoY" name="ladoY"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Tipos de Piso</ion-label>
              <ion-select  type="select" [(ngModel)]="pisosTipo" name="pisosTipo">
                <ion-select-option value="pc-30x30" style="font: 15px Arial, sans-serif;">Cerâmica esmaltada-30x30-cm</ion-select-option>
                <ion-select-option value="rpc-0x0" style="font: 15px Arial, sans-serif;">Rejuntamento de piso cerâmico com argamassa préfabricada-0</ion-select-option>
                <ion-select-option value="porc-40x40" style="font: 15px Arial, sans-serif;">Porcelanato polido-40x40-cm</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>     
        <ion-col style="text-align:center !important;">
            <ion-button type="submit" color="success">
              Calcular
            </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Insumos</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item *ngIf="temPeca">
              <ion-label position="stacked">Quantidade de Peças:</ion-label>
              <ion-label position="stacked">{{qtdPeca}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Quantidade de Argamassa:</ion-label>
              <ion-label position="stacked">{{qtdArgamassa}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tempo Pedreiro:</ion-label>
              <ion-label position="stacked">{{tempoPedreiro}}</ion-label>
            </ion-item>
            <ion-item *ngIf="temAjudante">
              <ion-label position="stacked">Tempo Ajudante:</ion-label>
              <ion-label position="stacked">{{tempoAjudante}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>
  </ion-content>
</ion-app>