<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide style="background-color: #5a81ca;">
        <div class="slide1">
          <div style="height: 60%;display: contents;
          align-items: flex-start; flex: 1;align-self: center;align-items: center; align-content:center">
            <img style="align-self: center;align-items: center; align-content:center" src="../../assets/logo.jpg"/>
          </div>
          <div style = "height: 40%;">
            <h2>Bem vindo!</h2>
            <p>A <b>BAUC</b> é um app para facilitar nos orçamentos daquelas pequenas obras na sua casa.</p>  
          </div>
        </div>
      </ion-slide>

      <ion-slide style="background-color: #5a81ca;">
        <div class="slide2">
          <div style = "height: 20%;">
            <h2>Como funciona?</h2>
            <p>Selecione o tipo de obra que deseja realizar.</p>  
          </div>
          <div style="height: 80%;display: contents;
          align-items: flex-start; flex: 1;align-self: center;align-items: center; align-content:center">
            <img style="align-self: center;align-items: center; align-content:center" src="../../assets/logo.jpg"/>
          </div>
        </div>
      </ion-slide>

      <ion-slide style="background-color: #5a81ca;">
        <div class="slide3">
          <div style = "height: 20%;">
            <h2>Como funciona?</h2>
            <p>Informe as medidas e informações importantes.</p>  
          </div>
          <div style="height: 80%;display: contents;
          align-items: flex-start; flex: 1;align-self: center;align-items: center; align-content:center">
            <img style="align-self: center;align-items: center; align-content:center" src="../../assets/logo.jpg"/>
          </div>
        </div>
      </ion-slide>

      <ion-slide style="background-color: #5a81ca;">
        <div class="slide4">
          <div style="height: 40%;display: contents;
          align-items: flex-start; flex: 1;align-self: center;align-items: center; align-content:center">
            <img style="align-self: center;align-items: center; align-content:center" src="../../assets/logo.jpg"/>
          </div>
          <div style = "height: 60%;">
            <h1>Perfeito!!!</h1>
            <p>Agora você pode conferir o quanto vai gastar e também dar uma olhada em alguns preços.</p>  
            <ion-button expand="block" routerLink="/menu" routerDirection="root">
              Clique aqui
            </ion-button> 
          </div>
        </div>
      </ion-slide>

    </ion-slides>
  </ion-content>
</ion-app>