<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-button style="width:100px;" expand="block" routerLink="/home" routerDirection="root">Voltar</ion-button>
    <h3 style="text-align: center;">Tipos de obra:</h3>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/pisos" routerDirection="root">Pisos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/pintura" routerDirection="root">Pintura</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/pisos" routerDirection="root">Alvenaria</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/pisos" routerDirection="root">Revestimentos</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>