<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-row style="margin-bottom:50px;">
      <ion-col style="text-align: left;">
        <ion-button expand="inline-block" routerLink="/home" routerDirection="root">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="verificaDeslogado()" style="text-align: right;">
        <ion-button  expand="inline-block" routerLink="/login" routerDirection="root">Login</ion-button>
        <ion-button  expand="inline-block" routerLink="/cadastro" routerDirection="root">Cadastro</ion-button>
      </ion-col>
      <ion-col *ngIf="verificaLogado()">
        <ion-button  expand="inline-block" routerLink="/login" routerDirection="root">Logout</ion-button>
        <ion-label id="usuario">Bem vindo, {{nomeUsuario}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 style="text-align: center;">Tipos de obra:</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/pisos" routerDirection="root">Pisos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/pintura" routerDirection="root">Pintura</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/alvenaria" routerDirection="root">Alvenaria</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" routerLink="/revestimentos" routerDirection="root">Revestimentos</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>