<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-button expand="inline-block" routerLink="/menu" routerDirection="root">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <h3 style="text-align: center;">Login</h3>
    <form (ngSubmit)="autenticar()">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">E-mail</ion-label>
              <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label position="stacked">Senha</ion-label>
              <ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>     
        <ion-col style="text-align:center !important;">
            <ion-button type="submit" color="success">
              Entrar
            </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-app>